/**************

https://coolors.co/palette/ff6700-ebebeb-c0c0c0-3a6ea5-004e98
ff6700 - ORANGE
ebebeb - LIGHT GREY
c0c0c0 - DARK GREY
3a6ea5 - LIGHT BLUE
004e98 - BLUE

***********/


body, div, p {
     font-family: "Oxanium", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "BBH Sans Bogle", sans-serif;
}

.nav {
  background-color: #ff6700