/**************

https://coolors.co/palette/ff6700-ebebeb-c0c0c0-3a6ea5-004e98
ff6700 - ORANGE
ebebeb - LIGHT GREY
c0c0c0 - DARK GREY
3a6ea5 - LIGHT BLUE
004e98 - BLUE

***********/


body, div, p {
     font-family: "Oxanium", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "BBH Sans Bogle", sans-serif;
}

.header.header-color-dark {
  background-color: #ff6700;
}

<!-- Mets orange button CSS -->
<style>
.mets-orange {
    background-color: #FF5910;
    border-color: #FF5910;
    color: white;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.mets-orange:hover {
    background-color: #CC4600;
    border-color: #CC4600;
    color: white;
}
</style>