/**************

https://coolors.co/palette/ff6700-ebebeb-c0c0c0-3a6ea5-004e98
ff6700 - 
ebebeb - 
c0c0c0 - 
3a6ea5 - 
004e98

***********/


body, div, p {
     font-family: "Oxanium", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "BBH Sans Bogle", sans-serif;
}

